/* ========== Imports ========== */
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

/* ========== CSS Variables ========== */
:root {
    /* Colors */
    --main-color: #5865f2;
    --desc-title-color: #23272a;
    --bg-color: #404eed;
    --bg-grey: #f6f6f6;
    --white-color: #ffffff;
    --black-color: #000000;

    /* Fonts */
    --ginto-font: 'ABC Ginto Nord Unlicensed Trial', sans-serif;
    --ginto-font-normal: 'ABC Ginto Normal Unlicensed Trial', sans-serif;
    --gg-font: 'gg sans Normal', sans-serif;
    --gg-font-semibold: 'gg sans SemiBold', sans-serif;
    --gg-font-bold: 'gg sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--gg-font);
}

/* ---------- Hero Section ---------- */

header {
    padding: 0 0 12.5rem 0;

    background-color: var(--bg-color);
    background-image:
        url("/images/hero-section-1.svg"),
        url("/images/hero-section-2.svg"),
        URL("/images/hero-section-3.svg");
    background-repeat: no-repeat;
    background-position: -20% 100%, 121% 100%, 51% 92%;
    background-size: 42%, 42%, auto;

    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

nav {
    width: 100%;
    padding: 1.35rem 7.5rem 6rem 7.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.6rem;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--gg-font-semibold);
    font-size: 1rem;
    font-weight: 600;

    transition: text-decoration .2s;
}

nav li a:hover {
    text-decoration: underline;
}

nav .open-discord-button {
    padding: .6rem 1rem;

    background-color: var(--white-color);

    text-decoration: none;
    color: var(--black-color);
    font-family: var(--gg-font-bold);
    font-size: .9rem;
    font-weight: 700;

    border-radius: 1.5rem;

    transition: color .3s, box-shadow .3s;
}

nav .open-discord-button:hover {
    color: var(--main-color);
    box-shadow: 0 .35rem .5rem rgb(0, 0, 0, .2);
}

.hero-section {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
}

.hero-section h1 {
    font-family: var(--ginto-font);
    color: var(--white-color);
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

.hero-section p {
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.1rem;
}

/* ---------- Main ---------- */
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.about {
    width: 100%;
}

.about .description:nth-child(even) {
    background-color: var(--bg-grey);
}

.description {
    width: 100%;
    padding: 7.2rem 14rem 7.2rem 7.6rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8rem;
}

.description-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5rem;
}

.description-text h2 {
    color: var(--desc-title-color);
    font-family: var(--gg-font-bold);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.description-text p {
    font-size: 1.25rem;
    font-weight: 400;
}

.about-4 {
    width: 100%;
    padding: 7.2rem 7.2rem;

    background-color: var(--bg-grey);

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-4 .description-text h2 {
    font-family: var(--ginto-font);
    font-weight: 800;
    font-size: 2.5rem;
}

.about-4 .description-text p {
    margin-inline: 7rem;
}

.about-4 .start {
    width: 100%;
    padding: 6rem 0 3rem 0;

    background-image: url("/images/about-4-bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
}

.about-4 .start h3 {
    font-family: var(--ginto-font-normal);
    font-weight: 700;
    font-size: 2rem;
}